<h1>Chidori desk</h1>

<ul>
  <li><%= link_to 'organization', :organizations %></li>
  <li><%= link_to 'ticket', :tickets %></li>
  <li><%= link_to 'threads', :ticket_threads %></li>
  <li><%= link_to 'queue', :message_queues %></li>
  <li><%= link_to 'customer', :customers %></li>
  <li><%= link_to 'agent', :agents %></li>
  <li><%= link_to 'groups', :groups %></li>
</ul>
