<p id="notice"><%= notice %></p>

<h1>Listing Message Queues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_queues.each do |message_queue| %>
      <tr>
        <td><%= message_queue.name %></td>
        <td><%= link_to 'Show', message_queue %></td>
        <td><%= link_to 'Edit', edit_message_queue_path(message_queue) %></td>
        <td><%= link_to 'Destroy', message_queue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message queue', new_message_queue_path %>
